.flexbox {
    display: flex;
    padding: 15px;

}
.item{

    padding: 10px;
}


#box1{
    justify-content: space-evenly;
    background: rgb(67, 67, 154);
}
#box2{
    justify-content:center;
}
#box3{
    justify-content:center;
    background: rgb(210, 202, 202);
}
#box4{
    justify-content:center;
}

#box4-inner{
    justify-content:center;
    background: #4f8fde;
}
h2{
    text-align: center;
}
